@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilos globales o en tu componente principal */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background-color: black;
  margin: 0; /* Asegúrate de que no haya margen en el contenedor principal */
}


.notices-card {
  padding: 0px !important;/* Establece el ancho deseado para todas las cards */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  align-items: center;
}

.css-n7pinj{
  min-height: 500px;
}
